.filter__btn-wrapper {
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  max-width: 768px;
  margin: 0 auto;
}
.filter__btn-wrapper ul {
  height: 100%;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter__btn-wrapper li button {
  padding: 10px 12px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #ffd204;
  color: #171717;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.filter__btn-wrapper li button:hover {
  color: #ffd204;
  background-color: #171717;
}
/* 
@media screen and (min-width: 768) {
    
} */
