.cart__wrapper {
  height: 100%;
  width: 100%;
  background-color: rgb(243, 243, 243);
}
.cart__item-container {
  width: 100%;
  height: 100%;
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background-color: #fff;
}

.cart__item-number {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  margin: 14px auto;
}

.cart__img-container {
  flex: 1;
}
.cart__img-container img {
  width: 100%;
  height: 100%;
  /* padding: 20px 10px; */
  object-fit: cover;
}

.cart__quantity-container {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.cart__quantity-container button {
  width: 40px;
  height: 30px;
  background-color: #171717;
  color: #ffd204;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}

.cart__quantity-container input[type="number"] {
  width: 50px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  color: #000;
}
.cart__item-total-price {
  flex: 0.7;
  text-align: center;
}

.cart__item-title h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.cart__main-filling {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}

.cart__spice {
  font-style: italic;
  font-size: 14px;
}
.cart__item-add-ons ul {
  list-style-type: none;
  margin-bottom: 1px;
}
.cart__item-add-ons li {
  font-size: 12px;
  font-style: italic;
}

.cart__item-number .cart__item-remove-item button {
  background-color: white;
  color: red;
  border: none;
  position: absolute;
  top: -8%;
  right: 0%;
}

.cart__no-products {
  height: calc(100vh - 175px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  /* padding-bottom: 20vh; */
}

.cart__all-items-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart__all-items-price h3 {
  text-align: center;
  margin-bottom: 10px;
}

.cart__all-items-price button {
  margin: 10px auto;
  padding: 14px 10px;
  border: none;
  background-color: #171717;
  color: #ffd204;
  border-radius: 5px;
}

.cart__all-items-price button:hover {
  color: #171717;
  background-color: #ffd204;
}
@media screen and (min-width: 768px) {
  .cart__wrapper {
    padding-top: 10px;

    margin: 0 auto;
  }
  .cart__quantity-container {
    justify-content: center;
  }
  .cart__quantity-container button {
    margin: 0 16px;
  }
}
