.menulist__section {
  width: 100%;
  background-color: rgb(243, 243, 243);
  padding-top: 20px;
}
.menulist__section ul {
  border: 2px solid red;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 1fr; */
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .menulist__section ul {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .menulist__section ul {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 0 auto;
  }
}
